.login-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100vh;
    width: 40vw;
    align-content: center;
    justify-content: center;
}

.form-title {
    flex: 0 0 100%;
    text-align: center;
}

.form-input {
    flex: 1 0 100%; /* allows space for margins */
}
